body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
}

h1 {
    color: #333;
    margin: 0;
}

#form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-header {
    position: absolute;
    top: 20px;
    text-align: center;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    display: block;
    width: 100%;
    margin: 10px 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.main-body, .group-chat-body {
    display: flex;
    height: 100vh;
}

.left {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #007BFF;
    border-radius: 5px;
    animation: fadeout 10s forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
